<!DOCTYPE html>
<html>
<head>
    <title>Django Google Map</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 font-sans">

<div class="flex">
    <!-- Sidebar with location names -->
    <div class="w-1/4 bg-white p-4">
        <h1 class="text-xl font-bold mb-4 text-gray-800">Locations</h1>
        <ul>
            {% for marker in marker_data %}
            <li class="cursor-pointer text-gray-700 hover:text-blue-500" onclick="showMarker('{{ marker.name }}')">{{ marker.name }}</li>
            {% endfor %}
        </ul>
    </div>

    <!-- Map container -->
    <div class="w-3/4">
        <div id="map" class="h-screen"></div>
    </div>
</div>

<script>
    var map;
    var markers = [];
    var markerData = {{ marker_data|safe }}; 

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: calculateCenter(markerData) // Default center coordinates
        });

        for (var i = 0; i < markerData.length; i++) {
            var marker = new google.maps.Marker({
                position: {lat: markerData[i].lat, lng: markerData[i].lng},
                map: map,
                title: markerData[i].name 
            });
            markers.push(marker);
        }
    }

    function calculateCenter(markerData) {
        if (markerData.length === 0) {
            // Default center if no markers are provided
            return { lat: 10.8231, lng: 106.6297 }; // Ho Chi Minh City, Vietnam
        }

        var latSum = 0;
        var lngSum = 0;

        for (var i = 0; i < markerData.length; i++) {
            latSum += markerData[i].lat;
            lngSum += markerData[i].lng;
        }

        var avgLat = latSum / markerData.length;
        var avgLng = lngSum / markerData.length;

        return { lat: avgLat, lng: avgLng }; 
    }

    function showMarker(locationName) {

        for (var i = 0; i < markers.length; i++) {
            markers[i].setAnimation(null);
        }

        // Show marker for the clicked location
        for (var i = 0; i < markers.length; i++) {
            if (markers[i].getTitle() === locationName) {
                map.setZoom(15);
                map.setCenter(markers[i].getPosition());
                markers[i].setAnimation(google.maps.Animation.BOUNCE);
                setTimeout(function() {
                    markers[i].setAnimation(null);
                }, 1400);
            }
        }
    }
</script>      

<script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3-S2dQBqXdSYw680Msk2FL-Q4g4eMRuk&loading=async&libraries=places&callback=initMap">
</script>
</body>
</html>
